.table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;

  &__head {
    border-bottom: 1px solid #DDDDDD;

    > tr > th {
      border: none;
      border-radius: 2px;
      display: table-cell;
      padding: 15px 5px;
      text-align: center;
      vertical-align: middle;
    }
  }

  &__body {
    > tr > td {
      border: none;
      border-radius: 2px;
      display: table-cell;
      padding: 15px 5px;
      text-align: center;
      vertical-align: middle;
    }
  }

  &__body > tr:nth-child(odd) {
    background-color: #F2F2F2;
  }
}
